<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse"> 
    
    <nav> 
    
    <div class="tcontainer">
      <div class="clock">
        <%= Time.now %>
      </div>

      <div class="navlist">
        <ul class="nav navbar-nav navbar-right">
          <li> <%=link_to "Home", root_path %></li>
          <li> <%= link_to 'Basics', basics_path %>
          <li> <%=link_to 'Ruby', ruby_path %></li>
          <li> <%=link_to 'Git', git_path %></li>
          <li> <%=link_to 'Testing', testing_path %></li>
        </ul>
      </div>
    </div>
    </nav>
    </header>

    <div class="container">
      <%=yield%> 
    </div>
  </body>
</html>
